sass:
  html
    height: 100%
  body
    height: 100%
    display: flex
    flex-direction: column
  .tree-node
    cursor: pointer
  .hidden
    display: none
  .hide-show-arrow
    transform: rotate(0deg)
    //transition: transform 0.3s ease-in-out
    &.rotate-arrow
      transform: rotate(90deg)
  .align-text-right
    text-align: right
  .default-cursor
    cursor: default
  .cursor-pointer
    cursor: pointer
  .uk-table
    white-space: nowrap
  .limit-max-width
    max-width: 28rem
    overflow: hidden
    text-overflow: ellipsis
  .hide-show-arrow
    padding: 0.5rem
  .warning-background
    background-color: #ffa01aa6 !important
  .warning-icon
    margin-left: -2.5rem
    padding-right: 1.2rem
    &:hover
      background: none !important
      cursor: help

    &:hover
      background-color: #ffa01a

  .uk-table-striped tbody tr.striped-even
    background-color: #f9f9f9


  .uk-table-striped tbody tr.striped-odd
    background-color: white

  .uk-table-hover tbody tr:hover
    color: black
    background-color: #ffef96

  .uk-tooltip.uk-active
    max-width: max-content

  .uk-notification
    border: 0.1rem solid rgba(102, 102, 102, 0.3)
    border-radius: 0.3rem

  .content-display
    overflow-y: auto
    overflow-x: auto
    opacity: 0.5
    background-color: #e4e4e4
  .token.operator
    background: none !important
  .table-header
    font-size: 0.875rem
    font-weight: 400
    color: #999
    text-transform: uppercase
  .uk-width-fit-content
    width: fit-content
  .uk-border-bottom
    border-bottom: 0.1rem solid rgba(153, 153, 153, 0.3)
  .icon-padding-right
    padding-right: 0.5rem
  .icon-padding-left
    padding-left: 0.3rem
