sass:
  .tree-node
    cursor: pointer
  .hidden
    display: none
  .hide-show-arrow
    transform: rotate(0deg)
    //transition: transform 0.3s ease-in-out
    &.rotate-arrow
      transform: rotate(90deg)
  .float-right
    float: right
  .align-text-right
    text-align: right
  .default-cursor
    cursor: default
  .cursor-pointer
    cursor: pointer
  .uk-table
    white-space: nowrap
  .limit-max-width
    max-width: 28rem
    overflow: hidden
    text-overflow: ellipsis
  .hide-show-arrow
    padding: 0.5rem
  .warning-background
    background-color: #ffa01aa6

    &:hover
      background-color: #ffa01a
