sass:
  .tree-node
    cursor: pointer
  .hidden
    display: none
  .hide-show-arrow
    transform: rotate(0deg)
    //transition: transform 0.3s ease-in-out
    &.rotate-arrow
      transform: rotate(90deg)
  .float-right
    float: right
  .alight-text-right
    text-align: right
  .default-cursor
    cursor: default
  .cursor-pointer
    cursor: pointer