sass:
  li
    list-style: none
  ul
    list-style: none

ruby:
  require_relative '../utils/Node'
  require_relative '../utils/file_utils'
  structure = extract_tar_gz_structure(params[:sha256])

javascript:
  document.addEventListener("DOMContentLoaded", function() {
      const fileViewArea = document.getElementById("file-area");

      document.querySelectorAll(".file-element").forEach(function(fileElement) {
          fileElement.addEventListener("click", async function () {
              console.log("Clicked on file element with data-href:", fileElement.dataset.href);
              const url = eval(fileElement.dataset.href);
              try {
                  const response = await fetch(url);
                  const htmlContent = await response.text();
                  fileViewArea.style.opacity = 1;
                  fileViewArea.innerHTML = htmlContent;
                  fileViewArea.style.textAlign = "left";
                  document.querySelector(".chosen")?.classList.toggle("chosen");
                  fileElement.classList.toggle("chosen");

              } catch (error) {
                  console.error("Error loading file content:", error);
                  fileViewArea.innerHTML = "Error loading file content";
              }
          });
      });
  });
sass:
    .hdr-container
      padding-bottom: 1rem
      position: sticky
      top: 0
    #directory-structure-container
      flex: 1
      flex-basis: 50%
      padding-right: 1rem
      .file-structure
        height: 90%
        overflow-y: auto
        overflow-x: auto
      ul
        margin: 0
        margin-left: 1rem
      .dir-element
        &:hover
          background-color: #f0f0f0
      .file-element
        &:hover
          cursor: pointer
          background-color: #f0f0f0
          color: black
    #file-area
      flex: 1
      flex-basis: 50%
      overflow-y: auto
      overflow-x: auto
      opacity: 0.5

    .chosen
      background-color: rgba(77, 125, 208, 0.3)
      color: black

    .content-container
      height: 80vh
      display: flex
      flex-direction: row
      column-gap: 1rem
      padding: 1rem
      border: 0.1rem solid #ccc
      border-radius: 0.5rem


p= "Archive blob #{params[:sha256]} content."
p= "Total size: #{represent_size(structure[:size])}"
.content-container
  #directory-structure-container
    .hdr-container
      span= "Files"
      span.float-right= "Size"
    .file-structure
      - render_structure = ->(structure, parent_path = '', parent_id = 'root', counter = 0) do
        - structure.each do |name, content|
          li
            - current_path = "#{parent_path}/#{name}"
            - current_id = "node_#{parent_id}_#{counter}"
            - if content.is_a?(Hash) && content[:is_dir]
              .dir-element
                a.uk-toggle href="#" uk-toggle="target: ##{current_id}"
                  span uk-icon="icon: folder"
                  = " #{name}"
                span.float-right #{represent_size(content[:size])}
              ul.uk-list.uk-margin-left id=current_id hidden=true
                - render_structure.call(content, current_path, current_id, 0)
            - elsif name != :size && content.is_a?(Hash)
              / a href="/file-in-archive/#{params[:sha256]}/$path/#{parent_path}/#{name}"
              .file-element data-href="'/file-in-archive/#{params[:sha256]}/$path/#{parent_path}/#{name}'"
                span uk-icon="icon: file-text"
                = " #{name}"
                span.float-right #{represent_size(content[:size])}
          - counter += 1
      - render_structure.call(structure)
  #file-area Choose some file to view it's content


/ a href="/file-in-archive/#{params[:sha256]}/$path/#{parent_path}/#{name}"
